:root {
     --violet: hsl(263, 55%, 52%);
     --dkgrblue: hsl(217, 19%, 35%);
     --blblue: hsl(219, 29%, 14%);
     --ltgray: hsl(0, 0%, 81%);
     --ltgrblue: hsl(210, 46%, 95%);
     --white: rgb(210, 210, 210);

}

@font-face {
     font-family: "barlow";
     src: url(../font/BarlowSemiCondensed-Regular.ttf);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "barlow", sans-serif;
}

body {
     background-color: var(--ltgrblue);
}

.container {
     width: 90%;
     margin: 3rem auto;
     display: flex;
     flex-direction: column;
}

.testi {
     border-radius: .5rem;
     position: relative;
     margin-bottom: 1rem;
}

.testi.daniel {
     background-color: var(--violet);
}

.jona {
     background-color: var(--dkgrblue);
}

.jean,
.kira {
     background-color: white;
}

.pat {
     background-color: var(--blblue);
}



.hiasan {
     position: absolute;
     right: 1.7rem;
     z-index: 0;
}

.head {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
}

.head,
.moto,
.desc {
     text-align: left;
     width: 80%;
     margin: 1rem auto 1rem auto;
}

.head img {
     border-radius: 50%;
     width: 2.5rem;
     border: 2px solid rgba(210, 210, 210, 0.5);
     ;
}

.head h3,
.head p {
     margin-left: 1rem;
     font-size: .9rem;
     letter-spacing: .02rem;
}

.head p {
     opacity: .7;
     font-size: .8rem;
}

.moto {
     font-weight: 800;
     font-size: 1.33rem;
     z-index: 1;
     position: relative;
}

.desc {
     color: rgba(210, 210, 210, 0.7);
     margin-bottom: 2rem;
     font-size: .9rem;
}

.darktext {
     color: var(--blblue);
}

.whitetext {
     color: var(--white);
}

.attribution {
     font-size: 11px;
     text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1025px) {

     section {
          height: 98vh;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
               "daniel daniel jona kira"
               "jean pat pat kira"
          ;
     }

     .testi {
          margin: 1rem;
     }

     .daniel {
          grid-area: daniel;
     }

     .jona {
          grid-area: jona;
     }

     .jean {
          grid-area: jean;
     }

     .pat {
          grid-area: pat;
     }

     .kira {
          grid-area: kira;
     }

}